<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fresh Prince of Delayed Air</title>

  <!-- Our CSS -->    
  <link rel="stylesheet" href="static/css/style.css"/>

  <!-- Bootstrap CSS -->    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our Pie Chart JS-->  
  <script type="text/javascript" src="static/js/piechart.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <style>
    body {
      background-color: hwb(216 63% 8%);
      margin: 0%;
      padding: 0.5%;
    }    
  </style>    
</head>

<body>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="panel panel-primary">        
        <div class="panel-heading">
          <h2><strong>JFK Airport Arrivals - Airliner Status Analysis (January 2023)</strong></h2>          
          <div class="dropdown" >
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select the Flights
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="ontime">On-Time Flight by Airline</a></li>
              <li><a tabindex="-1" href="late">Late Flight by Airline</a></li>
              <li><a tabindex="-1" href="cancelled">Cancelled Flight by Airline</a></li>
            </ul>
            </div>
        </div>
        <h5>Choose a Flight Status from the dropdown menu above to see an airline's timeliness.</h5>
        <div>
          <svg  width = "625" height = "625"></svg>
        </div>
      </div>
    </div>
  </div>
</body>
</html>