<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NYC Flight Center</title>

  <!-- Globe CSS -->    
  <link rel="stylesheet" href="/static/css/globe.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    body {
      background-color: hwb(0 100% 0%);
      margin: 0%;
      padding: 0.5%;
    }    
    
    a:link, a:visited {
      background-color: #c63228;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover, a:active {
      background-color: rgb(1, 0, 0);
    }
  </style>
</head>

<body>
  <script src="https://d3js.org/d3.v5.min.js"></script>    
  <script src="https://code.highcharts.com/maps/highmaps.js"></script>
  <script src="https://code.highcharts.com/maps/modules/data.js"></script>
  <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>
  <script type="text/javascript" src="static/js/globe_logic.js"></script>
  <div class="row">
    <div class="col-md-6 text-left">
      <h2><strong>Let's go Flying!</h2></strong>          
          <p>Feel free to spin the globe to the right while we decide where to go. <br>
          Once you find yor spot, let's figure out which Airport we'll be flying out of and which airline to go with!<br></p>
      <h2><strong>Button to Buttons</h2></strong>
          <p>For an interactive Map of your local airports, their flight routes, destinations and what exactly you are getting into, check out our Maps section.</p>
          <p><a href="http://127.0.0.1:5000/leaflet">Maps</a><br><br></p>
          <p>Once you decide on your airport, take a look at some detailed graphs to learn about which airlines fly out of there and which cities they serve. Maybe it'll guide you to your destination?</p>
          <p><a href="http://127.0.0.1:5000/plotly">Charts</a><br><br></p>      
          <p>And before you commit, maybe double check those delay stats, yeah?</p>
          <p><a href="http://127.0.0.1:5000/piechart">Delays</a></p>
    </div>
    <div class="col-md-6 text-center">
      <div id="container" style="height: 600px"></div>      
    </div>
  </div>   
</body>

</html>