<<<<<<< HEAD
=======
<<<<<<< HEAD
body {
  padding: 0;
  margin: 0;
  }
  html, body, #map {
  height: 100%;
  width: 100vw;
=======
>>>>>>> 5a3f402a91cc5842270d03164089a92a5f66bd9f
body {
  padding: 0;
  margin: 0;
  }
  html, body, #map {
  height: 100%;
  width: 100vw;
<<<<<<< HEAD
=======
>>>>>>> c47801dd2537fdc071fcdf3c42af49cba01f08a7
>>>>>>> 5a3f402a91cc5842270d03164089a92a5f66bd9f
  }